.ligaPage {
    padding: 1rem;
}

.tituloLigas {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.tituloLiga {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    text-transform: capitalize;
}

.ligasContainer {
    display: grid;
    gap: 1px;
    width: 100%;

}

.Ligaitem {
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    padding-left: 10px;
    /* background: #009577af;
  color: #ffffff; */
    background: #eeeeee;
    color: black;
}

.puntajeJugador {
    background: #eeeeee;
    color: black;
    padding-right: 2px;
}


.usuarioItem {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.inputsItem {
    display: block
}

.inputsItem div {
    margin-top: 1rem;
}

.tituloContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
}

.tituloJugador {
    background-color: none;
    margin-left: 5px;
    font-size: 18px;
}

.tituloPuntaje {
    font-size: 18px;


}




@media (min-width: 950px) {
    .usuarioItem {
        width: 40%;
        max-width: 500px;
    }

    .tituloContainer {
        width: 40%;
        max-width: 500px;
    }

    .tituloPuntaje {
        margin-right: 10px;
    }

    .tituloJugador {
        margin-left: 12px;
    }
}