.ligaPage {
    padding: 1rem;
    background-image: linear-gradient(0deg,
            rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.95)), url("../assets/hinchadaArgentinaMOB.jpg");
    min-height: 100vh;
}

.tituloLigas {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.tituloLiga {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    text-transform: capitalize;
}

.ligasContainer {
    display: grid;
    gap: 1px;
    width: 100%;

}

.Ligaitem {
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    padding-left: 10px;
    /* background: #009577af;
  color: #ffffff; */
    /* background: #eeeeee; */
    background: #c0c0c025;
    color: black;
}

.puntajeJugador {
    background: #c0c0c025;
    color: black;
    padding-right: 2px;
}


.usuarioItem {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.inputsItem {
    display: block
}

.inputsItem div {
    /* margin-top: 1rem; crashea los cards de los partidos */
}

.tituloContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
}

.tituloJugador {
    background-color: none;
    margin-left: 5px;
    font-size: 18px;
}

.tituloPuntaje {
    font-size: 18px;


}

.containerPuntaje {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;

}

hr {
    width: 100%;
}

.puntajeItemUsuario {
    margin-left: 10px;
}

.tituloPuntosUsuario {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
}




@media (min-width: 950px) {
    .ligaPage {
        padding: 1rem;
        background-image: linear-gradient(0deg,
                rgba(255, 255, 255, 0.95),
                rgba(255, 255, 255, 0.95)), url("../assets/hinchadaArgentinaDESK.jpg");
        background-size: cover;
        min-height: 100vh;
    }

    .usuarioItem {
        width: 40%;
        max-width: 500px;
    }

    .tituloContainer {
        width: 40%;
        max-width: 500px;
    }

    .tituloPuntaje {
        margin-right: 10px;
    }

    .tituloJugador {
        margin-left: 12px;
    }

    .inputsItem {
        display: flex;
        flex-direction: column;
        /* justify-self: center; */
        max-width: 800px;
        margin: auto;
    }

    .containerPrimerSetPuntajes {
        max-width: 800px;



    }
}