.portadaPage {
    /* padding: 1rem; */
    background-color: black;
    color: white;
    height: 100vh;
    padding-top: 15vh;
}

.tituloPortada {
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
}

.linksContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;

}



.link {
    font-size: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-width: 1px;
    border-radius: 6%;
    padding: 10px;
    width: 30vw;
    transition: 100ms;
    
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.138);
    font-size: 14px;
  }

@media (min-width: 950px) {

    .tituloPortada {
        font-size: 8rem;
    }

    .linksContainer {
        display: flex;
        justify-content: space-evenly;
        margin-top: 150px;

    }

    .link {
        font-size: 16px;
        padding: 15px;
        width: 10vw;
    }

}



@media (max-width: 370px) {}