.portadaPage {
    /* padding: 1rem; */
    background-color: black;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.85)), url("../assets/diegoCopa.webp");
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    height: 100vh;
    padding-top: 5vh;
    display: grid;
    grid-template-rows: 40% 30% 20%;

}

.tituloPortada {
    font-size: 3.5rem;

    text-align: center;
    margin: auto;
    padding: 0rem 1rem 0;
}

.linksContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0rem;

}



.link {
    font-size: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #000000;
    border-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-width: 1px;
    border-radius: 6%;
    padding: 10px;
    width: 30vw;
    transition: 100ms;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.link:hover {
    /* background-color: rgba(255, 255, 255, 0.138); */
    background-color: rgb(30, 30, 30);
    font-size: 14px;
}

@keyframes changewidth {
    from {
        scale: 1;
    }

    to {
        scale: 1.07;
    }
}

.imgCopa1 {
    height: 200px;
    margin: auto;
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.imgCopa2 {
    height: 200px;
    display: none;
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media (min-width: 950px) {

    .portadaPage {

        grid-template-rows: 50% 30% 20%;

    }

    .tituloPortada {
        font-size: 8rem;
    }

    .linksContainer {
        display: flex;
        justify-content: center;
        gap: 120px;

    }

    .link {
        font-size: 16px;
        padding: 15px;
        width: 10vw;
    }

    .imgCopa1 {
        height: 200px;
        margin: auto;
        display: none;
    }



    .imgCopa2 {
        height: 250px;
        display: block;

    }

}



@media (max-width: 370px) {}