:root {
  --theme-color: rgb(11, 1, 1);
  --primary-color: #08fdd8;
  --secundary-color: #08fdd8;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;

}




.App {
  padding: 10px 10px 0px 10px;
  max-width: 1100px;
  margin: auto;
}

/* .sectionequipos {
  padding: 10px 10px 0px 10px;
} */


.tituloprode {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.subtituloequipos {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}


/* br {
  display: block;
  content: "";
  margin: 10px 0;
} */

.reglas {
  margin-bottom: 10px;
  transition: 1s;

}

.editar {
  font-size: 13px;
  color: #858888;
  cursor: pointer;
  margin-left: 1rem;

}

.hide {
  animation: hide 1s linear;
  animation-fill-mode: forwards;

}



@keyframes hide {
  0% {
    opacity: 1;
  }


  100% {
    height: 0px;
    opacity: 0;
    pointer-events: none;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
  }
}

.puntos {
  text-align: center;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  width: 100%;
  gap: 1px;
  justify-content: center;
  transition: 1s;
  margin-bottom: 2rem;
  padding: 0;
}

.item {
  padding: 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  transition: 1s;
  /* transition: background 0.1s; */
}


.itemdesilu {
  padding: 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  /* transition: background 0.1s; */
}

.itemreve {
  padding: 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  /* transition: background 0.1s; */
}

.itemlamen {
  padding: 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  /* transition: background 0.1s; */
}

.itemsemis {
  padding: 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  /* transition: background 0.1s; */
}

.selected {

  padding: 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  /* transition: background 0.1s; */
  background: #009578;
  color: #ffffff;

}

.selectedsemis {
  background: #009578;
  color: #ffffff;
}

.equipo {
  font-weight: 600;
}

.suma {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#resultado {
  margin-left: 3px;
  font-weight: 600;
  color: #009578;
}

.sectiongoleadores {
  margin: 1.5rem 0px 1.5rem;
}

.titulogoleadores {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

.gridgoleadores {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  gap: 1px;
  justify-content: center;
  margin-bottom: 1rem;
}

.itemgoleador {
  padding: 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  font-size: 12px;
  transition: 1s;

}


.selectedgoleador {
  padding: 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  font-size: 12px;

  background: #009578;
  color: #ffffff;
}

.goleador {
  font-weight: bold;
  margin-right: 0.4rem;
}


.sumagoleador {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#resultadogoleador {
  margin-left: 3px;
  font-weight: 600;
  color: #009578;
}

.resultadocampeon {
  margin-left: 3px;
  font-weight: 600;
  color: #009578;
  font-size: 18px;

}

.resultadocampeon span {
  padding: 1rem;
}

.resultadoincompleto span {
  font-weight: 600;
  color: #ded700;
  padding: 1rem;
  font-size: 1rem;

}

.resultadoerror span {
  font-weight: 600;
  color: #de0000;
  padding: 1rem;
}

.resultadocampeongol span {
  padding: 1rem;


}

.resultadoincompletogol {
  font-weight: 600;
  color: #ded700;
  padding: 1rem;
  font-size: 18px;


}

.resultadoerrorgol {
  font-weight: 600;
  color: #de0000;
  padding: 1rem;
  font-size: 18px;

}


.precio {
  font-weight: 600;
  color: #004638;
}

.equipo {
  font-weight: normal;
  margin-right: 0.4rem;
}

.selectedgoleador {
  background: #009578;
  color: #ffffff;
}

.sumagoleador {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.presupuestoerror {
  color: #de0000;

}

.presupuestook {
  color: #009578;
}



.bidsubmitbutton {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 0px solid rgba(0, 0, 0, 0.3);
  /* box-shadow: 1px 1px 10px rgba(0,0,0,0.5); */
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  background: #009578;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  cursor: pointer;
}

.bidsubmitbuttonerror {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 0px solid rgba(0, 0, 0, 0.3);
  /* box-shadow: 1px 1px 10px rgba(0,0,0,0.5); */
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  background: #9b9b96;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  cursor: pointer;

}

.divsubmit {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.divsubmit input {
  margin-bottom: 0.4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  width: 210px;
  height: 25px;
}


input:checked {

  background-color: #009578;
}



.undefinedInputsicon {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  background-color: #00000024;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 0.8rem;
  /* box-shadow: 2px 2px 3px #999; */
  z-index: 200;


}

.iraligas {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.select {
  margin-bottom: 0.4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  width: 210px;
  height: 25px;
}

.errorNombre {
  color: #de0000;
  font-weight: bold;
}



@media (min-width: 950px) {
  .gridgoleadores {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    width: 100%;
    gap: 1px;
    justify-content: center;
  }

  .itemgoleador {
    font-size: 16px;
  }


  .selectedgoleador {
    font-size: 16px;
  }

  .tituloprode br {
    display: none;
  }

  .undefinedInputsicon {
    position: fixed;
    width: 5rem;
    height: 5rem;
    bottom: 6rem;
    right: 6rem;
    border-radius: 50%;
    background-color: #0000003d;
    color: rgb(0, 0, 0);
    text-align: center;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;


  }

}

@media (max-width: 370px) {
  .editar {
    margin-left: 0.2rem;
  }
}