@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  margin: 0;
}